.Messages{
    color: white;
    background-color: rgb(122, 57, 122, 0.5);   
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    overflow-y: scroll;
    height:70vh;
}

.message{
    margin-top: 6px;
}

.stamp{
    font-size: 0.7rem;
    color: rgb(189, 190, 92);
    margin: 0;
}



.chatSender{
    margin: 10px 0 10px 0;
    margin-left: -15px;
}

::-webkit-scrollbar {
    display:none;
}

.InField{
    height: 8vh;
    border: none;
    background-color: rgba(67, 68, 62, 0.5);
    border-radius: 10px;
    margin-left: 20px;
}

.InField:focus{
    outline: none;
    background-color: rgba(45, 43, 46, 0.5);
}


.SendB{
    background-color: rgba(99, 96, 102, 0.5);
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 2px 3px 16px -1px rgba(0,0,0,0.75);
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-right: 5px;
}

.SendB:active{

    background-color: rgba(45, 43, 46, 0.5);
    box-shadow: none;
}


.SendB:focus{
    outline: none;
}

.content{
    background-color: rgba(99, 96, 102, 0.5);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}