<div class="container form-container col-lg-4">
    <div class="container">
        <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
            <h2 class="justify-content-center row my-3">Sign Up</h2>
            <div class="form-group">
                <label for="Display">Display Name</label>
                <input minlength="5" maxlength="12" required ngModel #Display="ngModel" type="text" class="form-control"
                    id="Display" name="Display" placeholder="Display Name">
                <div class="custom-alert mt-2" *ngIf="Display.invalid && Display.touched">
                    <div *ngIf="Display.errors.required">This field is required</div>
                    <div *ngIf="Display.errors.minlength && !Display.errors.required">Display name too short</div>
                </div>
            </div>
            <div class="form-group">
                <label for="Email">Email address</label>
                <input required ngModel #Email="ngModel" type="email" class="form-control" id="Email" name="Email"
                    placeholder="Enter email">
                <div class="custom-alert mt-2" *ngIf="Email.invalid && Email.touched">This field is required</div>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input minlength="8" required type="password" ngModel #Password="ngModel" class="form-control"
                    id="Password" name="Password" placeholder="Password">
                <div class="custom-alert mt-2" *ngIf="Password.invalid && Password.touched">
                    <div *ngIf="Password.errors.required">This field is required</div>
                    <div *ngIf="Password.errors.minlength && !Password.errors.required">Password too short</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary submitB">Sign Up</button>
        </form>
    </div>
</div>